In [1]:
import numpy as np
import pandas as pd
import simplejson as json
import gmaps as gm
import gmaps.datasets

In [2]:
gm.configure(api_key="AIzaSyC92FMQCVDYBILWKbYJsqMhr216Yoa-ACY")

In [3]:
df = gm.datasets.load_dataset_as_df("starbucks_kfc_uk")

starbucks_df = df[df["chain_name"] == "starbucks"]
starbucks_df = starbucks_df[['latitude', 'longitude']]

starbucks_layer = gmaps.symbol_layer( starbucks_df, fill_color="green", stroke_color="green", scale=2)

fig1 = gmaps.figure()
fig1.add_layer(starbucks_layer)
fig1

A Jupyter Widget

In [4]:
locations = gmaps.datasets.load_dataset("taxi_rides")

fig2 = gmaps.figure()
fig2.add_layer(gmaps.heatmap_layer(locations))
fig2

A Jupyter Widget

In [5]:
starbucks_df.head()

    latitude  longitude
0  57.143224  -2.111544
1  57.143568  -2.096921
2  57.132247  -2.123264
3  57.147790  -2.098023
4  50.842126  -0.251903

In [6]:
with open('Location History.json', 'r') as fh:
    raw = json.loads(fh.read())

ld = pd.DataFrame(raw['locations'])
del raw 
# convert to typical units
ld['latitudeE7'] = ld['latitudeE7']/float(1e7) 
ld['longitudeE7'] = ld['longitudeE7']/float(1e7)
ld['timestampMs'] = ld['timestampMs'].map(lambda x: float(x)/1000) #to seconds

# Rename fields based on the conversions we just did
ld.rename(columns={'latitudeE7':'latitude', 'longitudeE7':'longitude', 'timestampMs':'timestamp'}, inplace=True)
ld = ld[ld.accuracy < 1000] #Ignore locations with accuracy estimates over 1000m
ld.reset_index(drop=True, inplace=True)
ld.tail()

,accuracy,altitude,heading,latitude,longitude,timestamp,velocity,verticalAccuracy
1901,65,113.0,NaN,38.845707,-77.629274,1.480339e+09,NaN,30.0
1902,29,NaN,NaN,38.845700,-77.629251,1.480339e+09,NaN,NaN
1903,45,NaN,NaN,38.845623,-77.631441,1.480339e+09,NaN,NaN
1904,65,118.0,NaN,38.845393,-77.630706,1.480339e+09,NaN,10.0
1905,10,110.0,NaN,38.845936,-77.631493,1.480337e+09,0.0,24.0

In [7]:
myloc_df = ld[['latitude', 'longitude']]
myloc_df.tail()

       latitude  longitude
1901  38.845707 -77.629274
1902  38.845700 -77.629251
1903  38.845623 -77.631441
1904  38.845393 -77.630706
1905  38.845936 -77.631493

In [8]:
fig3 = gmaps.figure()
fig3.add_layer(gmaps.heatmap_layer(myloc_df))
fig3

A Jupyter Widget