In [137]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier

In [190]:
train = pd.read_csv('train.csv')

In [191]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [192]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [193]:
train.drop(['Cabin', 'Age', 'Name', 'PassengerId'],axis = 1,  inplace = True)
train.dropna(inplace = True)

In [194]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 8 columns):
Survived    889 non-null int64
Pclass      889 non-null int64
Sex         889 non-null object
SibSp       889 non-null int64
Parch       889 non-null int64
Ticket      889 non-null object
Fare        889 non-null float64
Embarked    889 non-null object
dtypes: float64(1), int64(4), object(3)
memory usage: 62.5+ KB

In [199]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

encoder = encoder.fit(train['Sex'])
train['Sex'] = encoder.transform(train['Sex'])

encoder = encoder.fit(train['Ticket'])
train['Ticket'] = encoder.transform(train['Ticket'])

encoder = encoder.fit(train['Embarked'])
train['Embarked'] = encoder.transform(train['Embarked'])

In [200]:
train.head()

   Survived  Pclass  Sex  SibSp  Parch  Ticket     Fare  Embarked
0         0       3    1      1      0     522   7.2500         2
1         1       1    0      1      0     595  71.2833         0
2         1       3    0      0      0     668   7.9250         2
3         1       1    0      1      0      48  53.1000         2
4         0       3    1      0      0     471   8.0500         2

In [201]:
mod_train, mod_test = train_test_split(train, test_size = 0.2)

# train sets
train_x = mod_train.drop('Survived', 1)
train_y = mod_train['Survived']

# test sets
test_x = mod_test.drop('Survived', 1)
test_y = mod_test['Survived']

In [202]:
# model
forest = RandomForestClassifier(n_estimators=100)

# train
forest.fit(train_x, train_y)

# predict
forest_predictions = forest.predict(test_x)

# feature importances
print(pd.DataFrame({'Importance': forest.feature_importances_}, index = train_x.columns).sort_values('Importance', ascending = False))

from sklearn.metrics import accuracy_score
print()
print(accuracy_score(test_y, forest_predictions))

# confusion matrix
pd.crosstab(test_y, forest_predictions, rownames=['Actual'], colnames = ['Predicted:'], margins = True)

          Importance
Ticket      0.331827
Sex         0.257601
Fare        0.208684
Pclass      0.079350
Parch       0.045383
SibSp       0.043349
Embarked    0.033805

0.769662921348

Predicted:    0   1  All
Actual
0            89  16  105
1            25  48   73
All         114  64  178