In [2]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier

In [3]:
train = pd.read_csv("./titanic_data/train.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
train, test = train_test_split(train, test_size=0.2)

from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoder = encoder.fit(train['Ticket'])
train['Ticket'] = encoder.transform(train['Ticket'])

train_x = train.drop(['Cabin', 'Survived', 'Embarked','Name'], 1)
train_x = train_x.drop('PassengerId', 1)
train_y = train['Survived']
train_x = train_x.replace({'male': '1'}, regex=True)
train_x = train_x.replace({'fe1': '0'}, regex=True)
train_x.fillna(0, inplace=True)
train_y.fillna(0, inplace=True)

train_x.head()

     Pclass Sex   Age  SibSp  Parch  Ticket      Fare
890       3   1  32.0      0      0     218    7.7500
475       1   1   0.0      0      0       1   52.0000
505       1   1  18.0      1      0     282  108.9000
358       3   0   0.0      0      0     126    7.8792
690       1   1  31.0      1      0      38   57.0000

In [9]:
tree = DecisionTreeClassifier(criterion="entropy")
tree.fit(train_x, train_y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [10]:
#test = pd.read_csv("./titanic_data/test.csv")
test_y = test['Survived']
test_x = test.drop(['Cabin', 'Embarked', 'Ticket', 'Name', 'Survived'], 1)
test_x = test_x.drop('PassengerId', 1)
test_x = test_x.replace({'male': '1'}, regex=True)
test_x = test_x.replace({'fe1': '0'}, regex=True)
test_x.fillna(0, inplace=True)

tree_predictions = tree.predict(test_x)

ValueError: Number of features of the model must match the input. Model n_features is 7 and input n_features is 6

In [1]:
pd.DataFrame({'Gain': tree.feature_importances_}, index = train_x.columns).sort_values('Gain', ascending = False)

NameError: name 'pd' is not defined

In [74]:
pd.crosstab(test_y, tree_predictions, rownames=['Actual'], colnames = ['Predicted:'], margins = True)

Predicted:   0   1  All
Actual
0           65  20   85
1           18  40   58
All         83  60  143